:root {
    --bg: #843e00;
    --bb: #552800;
    --bx: #753700;
    --bt: #a24c00;
    --orange: #ff7800;
    --splat: url("https://images.vexels.com/media/users/3/159262/isolated/lists/1ff5d507a5622971efd84160ae58ca85-drop-pool-blood-splatter.png");
}

.interface .background:before {
    content: url("https://static.vecteezy.com/system/resources/previews/013/286/313/non_2x/halloween-party-background-with-spiderwebs-isolated-png-or-transparent-texture-blank-space-for-text-element-template-for-poster-brochures-online-advertising-illustration-vector.jpg");
    position: absolute;
    bottom: 9rem;
    left: -10rem;
    filter: invert(1);
    transform: rotate(-90deg);
    mix-blend-mode: screen;
    opacity: 0.5;
}

.interface > .background {
    background: linear-gradient(103.28deg, #5c2b00 7.06%, #7c3a00 90.75%) !important;
}

.bg-radial {
    background: radial-gradient(74.74% 74.74% at 51.12% 51.68%, #5c2b0038 0, transparent 100%) !important;
}

#logo {
    display: none;
}

.left-interface {
    transform: skew(-15deg) !important;
    left: 4.8rem !important;
}

.left-interface::before {
    left: -5.2rem;
    top: 0;
    position: absolute;
    content: "";
    width: 5rem;
    height: 10.9rem;
    background: var(--bg);
    border-bottom: 6px solid var(--bb);
    border-top: 4px solid var(--bt);
    border-right: 4px solid var(--bx);
    border-left: 4px solid var(--bx);
}

.left-interface .card-cont:not(.money) {
    margin: unset;
    height: 8rem !important;
}

.left-interface .card-cont {
    background: var(--bg);
    border-bottom: 6px solid var(--bb);
    border-top: 4px solid var(--bt);
    border-right: 4px solid var(--bx);
    border-left: 4px solid var(--bx);
}

.icon-btn,
.left-interface .card-cont,
.right-interface .card-cont {
    position: relative;
}

.icon-btn:hover,
.left-interface .card-cont:hover,
.right-interface .card-cont:hover {
    background: #aa5000 !important;
}

.icon-btn:hover:before,
.left-interface .card-cont:hover:before,
.right-interface .card-cont:hover:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--splat);
    background-size: cover;
    background-position: center;
    position: absolute;
}

.left-interface .moneys {
    margin: unset;
}

.left-interface .money {
    margin: unset;
    min-width: 8.7rem;
    border-radius: unset !important;
}

.left-interface .card-cont > * {
    transform: skew(15deg) !important;
}

.left-icons {
    top: 0 !important;
    left: 28rem !important;
    height: 8rem !important;
    flex-direction: row !important;
    background: transparent !important;
}

.icon-btn {
    width: 9rem !important;
    height: 100%;
    transform: skew(-15deg);
    padding: unset !important;
    background: var(--bg) !important;
    border-bottom: 6px solid var(--bb) !important;
    border-top: 4px solid var(--bt) !important;
    border-right: 4px solid var(--bx) !important;
    border-left: 4px solid var(--bx) !important;
}

.icon-btn .wrapper {
    transform: skew(15deg) !important;
    transition: unset !important;
}

.icon-btn svg {
    display: none;
}

.right-interface::after {
    right: -2.1rem;
    top: 0;
    position: absolute;
    content: "";
    width: 3rem;
    height: 7.3rem;
    background: var(--bg);
    border-bottom: 6px solid var(--bb);
    border-top: 4px solid var(--bt);
    border-right: 4px solid var(--bx);
    border-left: 4px solid var(--bx);
    transform: skew(-15deg);
}

.right-interface .settings-and-socicons {
    margin: unset;
    height: 8rem;
    width: 28rem;
    transform: skew(-15deg);
    margin-right: 0.975rem;
}

.right-interface .card-cont {
    border-radius: unset;
    margin: unset;
    min-width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg) !important;
    border-bottom: 6px solid var(--bb) !important;
    border-top: 4px solid var(--bt) !important;
    border-right: 4px solid var(--bx) !important;
    border-left: 4px solid var(--bx) !important;
}

.right-interface .card-cont > * {
    transform: skew(15deg);
}

.select-region {
    border-color: var(--bt) !important;
    background: var(--bg) !important;
}

.levels,
.avatar,
.level-value,
.progress-line {
    background-color: var(--bb) !important;
    border-color: var(--bb) !important;
}

.progress-line .progress {
    background: var(--orange) !important;
}

.levels,
.level-value,
.level-text,
.clan-tag {
    color: var(--orange) !important;
}

button .triangle,
button .border {
    display: none !important;
}

.interface button {
    background: var(--orange) !important;
    border-radius: unset !important;
}

.interface button:hover {
    --hover-color: var(--bt) !important;
}

.right-interface .quests {
    background: var(--bg) !important;
    border-bottom: 6px solid var(--bb) !important;
    border-top: 4px solid var(--bt) !important;
    border-right: 4px solid var(--bx) !important;
    border-left: 4px solid var(--bx) !important;
}

.right-interface .quest {
    background: var(--bt) !important;
}

.right-interface .reward {
    background: var(--bg);
}

.right-interface .quests .tab {
    background: var(--bb);
}

.right-interface .quests .tab.selected {
    background: var(--bt) !important;
}

/* ingame */
.desktop-game-interface .messages {
    background: rgb(132, 62, 0, 0.5) !important;
}

.tab-team-info .player-cont,
.tab-info .player-cont,
.kill-bar-cont > div,
.desktop-game-interface .bg,
.input-wrapper input,
.hp-cont > div,
.cont-endurance {
    background: var(--bg) !important;
}

.endurance-progress {
    background: var(--orange) !important;
}

.tab-team-info,
.tab-info .head,
.tab-info {
    background: rgb(132, 62, 0, 0.75) !important;
    border-color: var(--bt) !important;
}
